body {
  background-color :#151313;
  line-height: 100%;
}

h1 {
  color: #F26531;
  font-family: 'Playfair Display';
  font-size:60px;
  line-height: 100%;

}

h2 {
  color: #F26531;
  font-family: 'Roboto';
  line-height: 100%;
}

p {
  color: rgb(146, 145, 145);
  font-family: 'Roboto';
  line-height: 100%;
}

a {
  text-decoration: none;
  color: #F26531;
  font-family: 'Roboto';
}

a:hover {
  color: #F26531;
  text-decoration: underline;
}

.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.div-hover:hover {
  border-color: orange;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
.card {
  margin: 10px;
  padding: 10px;
  border-radius: 16px;
}

.border {
  border: 1px solid #F26531;
}

.thick-border {
  border: 3px solid #F26531;
}

.image-padd-bottom {
  padding-bottom: 20px;
}

.image-padd-top {
  padding-top: 20px;
}

@media (max-width: 2000px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 600px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 400px;
  }
  .image-to-scale {
    width: 150px;
  }
}